/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root.Dark {
    --background-color: #ded6d3;
    --form-background-color: #f6f2f1;
    --border-color:  #4f3b25;
    --button-color: #3e3817;
    --text-color:  #4f3b25;
    --theme-name: "Dark";
}

:root.Light {
    --background-color: #ded6d3;
    --form-background-color: #f6f2f1;
    --border-color:  #4f3b25;
    --button-color: #3e3817;
    --text-color:  #4f3b25;
    --theme-name: "Light";
}
body {
    font-family: 'LibreBaskervilleRegular', serif;
    font-weight: normal;
    font-style: normal;
    display: flex; 
    flex-direction: column; 
    background-color: var(--background-color);
    color: var(---text-color);
    height: 100vh;
    }

.header {
        align-items: center;
        padding: 20px 300px;
        position: sticky;
        background-color: var(--background-color);
        color: var(---text-color);
        display: flex;
        box-shadow:0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
        top: 0;
        justify-content: space-between;
} 

.header .links {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 1.1rem;
    gap: 25px;
    color: var(---text-color);
 }

 .links-member:hover {
    transform: scale(1.03);
 }
 .header .logo {
     font-size: 1.5rem;
     color: var(---text-color);
     font-weight: bold;
 }
 .theme-toggle {
    color: var(--text-color);
}
.theme-toggle:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.picture{
    background-image: url(https://images.unsplash.com/photo-1668849410584-ebf1f4320029?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80);
    background-position: center;
    background-size: 800px;
    background-repeat: no-repeat;
    width: 40vw;
}

.banner-watermark {
    position: relative;
    top: 15vh;
    align-items: center;
    background-color: rgba(14, 14, 14, 0.7);
    font-size: 2.5rem;
    color: var(--background-color);
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin-bottom: -50px; /*footer support*/
}

.form-header {
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 50px 200px 50px 50px;
    letter-spacing: 1px;
    line-height: 1.6rem;
}
.form-header p:nth-child(2) {
    margin-top:30px;
}

form {
    color: var(--text-color);
}
form legend {
    font-weight: bold;
    font-size: 1.4rem;
    padding: 20px 200px 20px 50px;
}

form .input-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 200px 20px 50px;
}

form .form-background {
    background-color: white;
    box-shadow:0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
}

button {
    margin: 20px 200px 20px 50px;
    padding: 10px 50px;
    background-color: white;
    border-radius: 5px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.1rem;
    border-color: var(--text-color);
    letter-spacing: 1px;
}
button:hover {
    cursor: pointer;
}

label {
    font-size: 0.7rem;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

label, 
input {
    display: block;
}

input {
    margin-bottom: 20px;
    font-size: 1rem;
    border-radius: 3px;
    height: 20px;
    background-color: white;
    opacity: 50%;
    border-color: var(--border-color);
}


input:focus {
   border-color: aquamarine;
}


input:valid {
    border: 1px solid green;
    border-radius: 3px;
    background-color: white;
    opacity: 100%;
}

.form-para {
    padding: 10px 200px 10px 50px;
}

.footer {
    display: flex;
    height: 20px;
    font-size: 16px;
    padding: 20px 300px;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
  }

ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

a {
    text-decoration: none;
    color:var(--text-color);
    cursor: pointer;
}